@import "../../scss/vars.scss";
@import "../../scss/mixins.scss";

.arrow-wrapper {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 -10px;

  @include  media-tablet-small {
    width: 40px;
    height: 40px;
  }

  @include  media-mobile-big {
    margin: 0 -17px;
  }

  @include  media-mobile-small {
    margin: 0 -20px;
  }
}

.arrow-icon {
  width: 40px;
  height: 40px;
  border: 5px solid transparent;
  border-radius: 2px;
  transform: rotate(45deg);
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    transform: rotate(45deg) scale(1.2);
  }

  @include  media-tablet-small {
    width: 30px;
    height: 30px;
    &:hover {
      transform: rotate(45deg);
    }
  }
}

.arrow-icon_previous {
  border-bottom-color: $primary-darker-color;
  border-left-color: $primary-darker-color;
}

.arrow-icon_disabled-previous {
  border-bottom-color: $primary-color;
  border-left-color: $primary-color;
}

.arrow-icon_next {
  border-top-color: $primary-darker-color;
  border-right-color: $primary-darker-color;
}

.arrow-icon_disabled-next {
  border-top-color: $primary-color;
  border-right-color: $primary-color;
}
