@import 'src/scss/vars';
@import 'src/scss/mixins';

.quiz-question-container {
  position: relative;
  margin-top: 60px;
  width: 42vw;
  text-align: center;
}

@media screen and (max-width: $tablet-width-big) {
  .quiz-question-container {
    width: 100%;
  }
}

@media screen and (max-width: $tablet-width-small) {
  .quiz-question-container {
    margin-top: 40px;
  }
}

