@import 'src/scss/vars';
@import 'src/scss/mixins';

.english-puzzle-enter-btn {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;
  width: 80px;
  height: 25px;
  border: 1px solid $neutral-disabled;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: $neutral-inactive;
  font-weight: 400;
  opacity: 0.98;
  background: $accent-dark-color;
  line-height: 23px;
  overflow: hidden;
  &__text {
    position: absolute;
    top: -2px;
    left: 10px;
    font-size: 16px;
  }
  &__arrow-right {
    display: none;
  }
  &:hover {
    color: $neutral-active;
    opacity: 1;
    .english-puzzle-enter-btn__arrow-right {
      left: 26px;
      transition: .2s ease-in;
      -webkit-transition: .2s ease-in;
      -moz-transition: .2s ease-in;
      -ms-transition: .2s ease-in;
      -o-transition: .2s ease-in;
    }
  }
  &_next {
    border: none;
    background-color: $primary-darker-color;
    .english-puzzle-enter-btn__text {
      display: none;
    }
    .english-puzzle-enter-btn__arrow-right {
      display: block;
      position: absolute;
      top: -3px;
      left: 24px;
      transition: .2s ease-in;
      -webkit-transition: .2s ease-in;
      -moz-transition: .2s ease-in;
      -ms-transition: .2s ease-in;
      -o-transition: .2s ease-in;
    }
    &:hover {
      background-color: $primary-darker-color;
      border: 1px solid $default-color;
    }
  }
}
