@import "src/scss/vars";
@import "src/scss/mixins";

.settings-modal {
  margin: 0 auto;
  padding: 15px 5px;
  min-width: 650px;
  // min-width: 310px;
  // height: 70%;
  background-color: $default-color;
  border: 1px solid $neutral-disabled;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: $box-shadow;
}

.custom-control-input:checked~.custom-control-label::before{
  background-color: $success-color;
  border-color: $success-color;
  color: $success-color;
  box-shadow: none;
}

.btn-modal_close {
  margin-left: auto;
  margin-right: 15px;
}
