@import "src/scss/vars";
@import "src/scss/mixins";

.settings-modal {
  position: absolute;
  left: auto;
  right: auto;
  top: 0px;
}

.modal-content_settings {
  background-color: $default-color;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: $box-shadow;
  z-index: 15;
}

.custom-control-input:checked~.custom-control-label::before{
  background-color: $success-color;
  border-color: $success-color;
  color: $success-color;
  box-shadow: none;
}

.btn-modal_close {
  margin-left: auto;
  margin-right: 15px;
}
