@import 'src/scss/vars';

.app-sidebar {
  z-index: 100;
  user-select: none;
  box-sizing: border-box;
  width: 220px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 640px;
  margin-top: 15px;
  margin-bottom: auto;
  background-color: $default-color;
  color: $neutral-inactive;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(85, 91, 110, 0.38);
  -moz-box-shadow: 0px 0px 5px 2px rgba(85, 91, 110, 0.38);
  box-shadow: 0px 0px 5px 2px rgba(85, 91, 110, 0.38);
  border-radius: 0 10px 10px 0;
  z-index: 20;
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  -ms-border-radius: 0 10px 10px 0;
  -o-border-radius: 0 10px 10px 0;
}
.sidebar-link-list {
  padding: 5px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  margin-bottom: 0;
  //text-align: left;
}

/* enter */
.slide-left-enter {
  left: -220px;
z-index: 1;
}
.slide-left-enter.slide-left-enter-active {
  left: 0px;
  transition: all 300ms ease-out;
}

/* exit */
.slide-left-exit {
  left: 0;
}
.slide-left-exit.slide-left-exit-active {
  left: -220px;
  transition: all 300ms ease-out;
}
.slide-left-exit-done {
  left: -220px;
}
