@import 'src/scss/vars';
@import 'src/scss/mixins';

.quiz-question-image {
  position: relative;
  margin: 0 auto;
  width: 77%;
  border: 1px solid $neutral-inactive;
  box-shadow: $box-shadow;
  overflow: hidden;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

@media screen and (max-width: $mobile-width-small) {
  .quiz-question-image {
    width: 70%;
  }
}
