  .Savanna_play-page__flipping-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Savanna_play-page__flipping-container form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .Savanna_start-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .Savanna_btn-rslang{
    max-width: 100px;
    margin: 30px;
    color: #204b62bf;
    background: #FFD6BA
  }
  .Savanna_start-page form label{
    width: 280px;
  }
  .Savanna_color-rslang{
    color: #204b62bf;
  }
  .Savanna_start-page svg {
    position: absolute;
    top: 90px;
    left: calc(50% - 40px);
    width: 300px;
    height: 300px;
    z-index: -3;
    fill: #FFD6BA;
    transform: scale(1.7, 1.5) translate(85px, -133px);
  }
  .Savanna_footer_image {
    position: absolute;
    bottom: 0;
    left: auto;
    right: auto;
    width: 100%;
    z-index: -3;
    opacity: .15;
    max-height: 200px;
    max-width: 600px;
  }
