@import 'src/scss/vars';
@import 'src/scss/mixins';

.english-puzzle-image-puzzle-container {
  &__answer {
    width: 800px;
    height: 400px;
    background-color: $default-color;
    border: 1px solid $neutral-disabled;
  }
  &__question {
    margin-top: 15px;
    background-color: $primary-color;
  }
}
