@import 'src/scss/vars';
@import 'src/scss/mixins';

.quiz-exit-btn {
  position: absolute;
  top: 3%;
  right: 1%;
  margin-left: auto;
  margin-right: 1%;
  padding: 0;
  width: 25px;
  height: 25px;
}

@media screen and (max-width: 768px) {
  .quiz-exit-btn {
    top: 2%;
  }
}
