@import "src/scss/vars";

.statistic {
    &-today {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    max-width: 720px;
    margin: 10px auto;
    padding-bottom: 10px;
    background-color: #ffffff;
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-shadow: $box-shadow;

    &__title {
      width: 100%;
      text-align: center;
      margin: 10px 0 10px 20px;
      color: $neutral-active;
    }
    &__london-image {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      opacity: .3;
      z-index: -5;
    }
  }
  &-full {
    margin: 10px auto;
    max-width: 690px;
    padding-bottom: 10px;
    border: 1px solid $neutral-active;
    background-color: $default-color;
    border-radius: 10px;
    box-shadow: 0 0 0.125rem 0 rgba(143,115,96,.12), 0 0.125rem 0.25rem 0 rgba(143,115,96,.12);
  }

}

@media screen and (max-width: 740px) {
  .statistic {
    &-today {
      max-width: 90%;
    }
    &-full {
      max-width: 90%;
    }
  }
}

@media screen and (max-width: 375px) {
  .statistic {
    &-today {
      max-width: 97%;
    }
    &-full {
      max-width: 97%;
    }
  }
}
