@import "src/scss/vars";
@import "src/scss/mixins";

.modal_color {
  background-color: $default-color;
}

.modal-header__statistic{
  margin: 0 auto;
  border-bottom: none;
}

.button_continue {
  @include std_button;
  margin: 0 auto;
  background-color: $success-color;
  width: 125px;
  margin-bottom: 10px;
}
