@import "src/scss/vars";
@import "src/scss/mixins";

.modal-content {
  border: 0;
}

.modal-header__statistic{
  margin: 0 auto;
  border-bottom: none;
}

.button_continue {
  @include std_button;
  margin: 0 auto;
  background-color: $accent-color;
}
