@import 'src/scss/vars';
@import 'src/scss/mixins';

.audio-call-question-container {
  position: relative;
  margin-top: 60px;
  max-width: 200px;
  min-width: 160px;
  width: 20vw;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .audio-call-question-container {
    margin-top: 40px;
  }
}
