@import 'src/scss/vars.scss';

.quiz-question-input {
  position: absolute;
  margin-top: 10px;
  top: 0;
  left: 0;
  &__entered-word {
    margin-top: 15px;
    height: 30px;
    padding: 6px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 4px;
    font-size: 22px;
    text-align: center;
    box-shadow: 0 0 5px rgba(61, 59, 59, 0.25);
    &:focus {
      box-shadow: 0 0 5px rgba(61, 59, 59, 0.25);
    }
  }
}
