@mixin std_button {
  color: $neutral-inactive;

  &:hover {
    color: $neutral-active;
  }

  &:focus {
    //outline: none !important;
    //outline-style: none;
    //outline-width: 0 !important;
    outline-color: none !important;
  }

}
