// Main color scheme
$default-color           : #FAF9F9;
$primary-color           : #BEE3DB;
$primary-darker-color    : #89B0AE;
$dark-color              : #555B6E;
$accent-color            : #FFD6BA;

// Alerts Color
$success-color           : #26de81;
$danger-color            : #fc5c65;
$warning-color           : #fed330;

// Text Color
$neutral-active          : rgba(0, 0, 0, 0.87);
$neutral-inactive        : rgba(0, 0, 0, 0.61);
$neutral-disabled        : rgba(0, 0, 0, 0.38);

// Box shadow
$box-shadow              : 0px 0px 6px rgba(61, 59, 59, 0.075);
