@import "src/scss/vars";

.page {
  position: relative;
  max-width: 1140px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  overflow: hidden;
  flex-wrap: wrap;

  &-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;

    &__text {
      margin: 5px;
      max-width: 400px;
      min-width: 310px;
      color: $neutral-inactive;
    }

    &__icons {
      position: relative;
      min-width: 200px;
      display: block;
      &-four {
        width: 65px;
      }
      &-zero {
        width: 65px;
      }
    }
  }
  &__london-image {
    width: 100%;
    z-index: -5;
  }
}

svg {
  position: absolute;
  width: 230px;
  left: -143px;
  top: 126px;
  z-index: -3;
  fill: #FFD6BA;
  transform: scale(1.7, 1.5) translate(85px, -133px);
}
