.sprint-cards-field {
  background-color: white;
  width: 70%;
  height: 70%;
  min-height: 260px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(85, 91, 110, 0.38);
  -moz-box-shadow: 0px 0px 5px 2px rgba(85, 91, 110, 0.38);
  box-shadow: 0px 0px 5px 2px rgba(85, 91, 110, 0.38);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 500px) {
    width: 90%;
  }
}
.words-animation-container{
  width: 100%;
  position: relative;
  height: 30%;
  overflow: hidden;
}

.sprint-fade-enter,
.sprint-fade-appear {
  opacity: 0;
}
.sprint-fade-enter-active,
.sprint-fade-appear-active {
  opacity: 1;
  transition: opacity 400ms;
}
.sprint-fade-exit {
  opacity: 1;
}
.sprint-fade-exit-active {
  opacity: 0;
  transition: opacity 400ms;
}
